body {
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: lighter;
}
button {
    background-color: black;
    font-family: 'VT323', monospace;
    font-size: 20px;
    color: whitesmoke;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}
input {
    font-family: 'VT323', monospace;
    border:none;
    box-sizing: content-box;
    background-color:black;
    color: whitesmoke;
    border-radius:4px;
    width:65%;
}